.hero__img {
  height: 100%;
  width: 50%;
  background: url("../../assets/Home-Hero-Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  height: 40%;
}

.hero__btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
